.Attendance__Table {
  td {
    background-color: white;
  }
}

.Attendance__Header > tr > th {
  font-weight: 400 !important;
  font-size: 1.2em;
  text-align: center !important;
}

td.Attendance__Edit {
  padding: 0 !important;
  border-left: none !important;

  & i {
    cursor: pointer;
  }
}

.Attendance__Icon {
  text-align: center;
  cursor: pointer;
}

.Attendance__IconPresent {
  color: green;
}

.Attendance__IconNotPresent i {
  color: #444;
  font-size: 0.9em;
}

.Attendance__HeaderCell__Today {
  background-color: #9ee2a1 !important;
}

.Attendance__Student {
  display: flex;
  align-items: center;
}

.Attendance__Avatar {
  margin-right: 14px;
}

.Attendance__Student__Info {
  display: flex;
  flex-direction: column;
}

.Attendance__Student__Name {
  font-size: 1.15em;
  padding-bottom: 2px;
}
.Attendance__Student__Extra {
  font-size: 1.1em;
  color: #72828B;
}
