@font-face {
  font-family: sribbleFont;
  src:
    url('./../../fonts/scribblebox.ttf');
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.banner {
  /* TODO: is this a valid URL? */
  background: rgb(38,45,52) url('./../../images/cf-banner.png') ;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.header-bar {
  background: rgb(38,45,52);
  padding: 1em 2em;
  border-bottom: 4px solid #D92B2F;
  position: relative;
}

.header-bar button {
  float: right;
}

.header-bar .logo {
  height: 85px;
}

.header-lockup {
  position: absolute;
  left: 50px;
  top: -10px;
  z-index: 100;
}

.header-bar .welcome-message {
  position: relative;
  font-family: sribbleFont;
  color: #F2F2F2;
  top: -30px;
  left: 20px;
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
}

.page {
  padding: 2em;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.clearfix {
  display: block;
}

.toast {
  opacity: 1 !important;
  border: none !important;
  box-shadow: none;
}

.login-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 150px;

}

.login-form form {
  padding: 5em 3em;
  border-top: 4px solid #D92B2F;
  border-bottom: 4px solid rgb(38,45,52);
  background: #F4F4F4;
  border-radius: 3px;
}

.ui.accordion .title .dropdown.icon {
  display: none !important;
}

.ui.accordion tbody.ui.content.active {
  display: table-row-group;
}



.ui.accordion.cf-accordion .title:not(.ui) {
  padding: 0;
}

.ui.accordion.cf-accordion .grid {
  margin: 0;
}

.cf-accordion {
  margin-top: 3em;
}

.subtitle {
  font-size: 1.1em;
}

.cf-accordion .content.active {
  background: #F2F2F2;
}

.cf-accordion .content.active .segment .row > .column {
  padding: 0 !important;
}

.class-list .ui.top.floated.segment.right {
  border-width: 0;
  border-bottom-width: 1px;
}

.class-list .ui.top.floated.segment.right .input {
  float: right;
}

.download-classlist {
  float: right;
}

.class-list-header h1 {
  display: inline-block;
  margin-bottom: 0;
}

.class-list-header {
  margin-top: 1.5em;
}


.cards{
  padding-top: 25px;
  padding-bottom: 10px;
  clear:both;
  width: 100%;
}
.cardholder{
  margin-bottom: 20px;
  padding: 0;
  float:left;
  margin-right: 15px;
  clear: right;
}
.cardholder > a > img {
  display : block;
  margin : auto;
}

.spectacle-deck {
  z-index: 100;
  text-align: left;
}

.spectacle-deck svg {
  fill: #333 !important;
}

.close-presentation {
  position: absolute;
  right: 10px;
  top:10px;
  cursor: pointer;
  font-size: 2.5em !important;
  z-index: 200;
}

.slide-show {
  min-width: 100%;
  min-height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  z-index: 100;
  top: 0;
}

.slide-show h1 {
  margin-bottom: 1.5em;
}

.slide-show-content {
  max-width: 1200px;
  margin: auto auto;
  margin-top: 10em;
}

.control-button {
  position: absolute;
  top: 45%;
}

.control-button {
  font-size: 3em !important;
}

.control-button img {
  height: 70px;
}

.control-button.left {
  left: 20px;
}

.control-button.right {
  right: 20px;
}

.loader {
  z-index: 2000;
}
/*TODO: better css structure --> USE SASS INSTEAD OF CSS*/
