@font-face {
  font-family: sribbleFont;
  src:
    url('./../../fonts/scribblebox.ttf');
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.banner {
  /* TODO: is this a valid URL? */
  background: rgb(38,45,52) url('./../../images/cf-banner.png') ;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.header-bar {
  background: rgb(38,45,52);
  padding: 1em 2em;
  border-bottom: 4px solid #D92B2F;
  position: relative;
}

.header-bar button {
  float: right;
}

.header-bar .logo {
  height: 85px;
}

.header-lockup {
  position: absolute;
  left: 50px;
  top: -10px;
  z-index: 100;
}

.header-bar .welcome-message {
  position: relative;
  font-family: sribbleFont;
  color: #F2F2F2;
  top: -30px;
  left: 20px;
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
}

.page {
  padding: 2em;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.clearfix {
  display: block;
}

.toast {
  opacity: 1 !important;
  border: none !important;
  box-shadow: none;
}

.login-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 5em 3em;
  border-top: 4px solid #D92B2F;
  border-bottom: 4px solid rgb(38,45,52);
  background: #F4F4F4;
  border-radius: 3px;
}



/*TODO: better css structure */
